<h1>StaticPages#home</h1>
<%= javascript_include_tag "home", "data-turbo-track": "reload", type: "module" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>
<div id="root"></div>
